.inputChat {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 100px;
	padding: 0.5rem;
	background-color: white;
	border: 1px solid #dbdbdb;
	border-radius: 1rem;
	gap: 0.5rem;
}

.input {
	width: auto;
	height: 100%;
	padding: 0rem 0.75rem;
}

.input::placeholder {
	text-align: start;
	color: #b3b3b3;
}

.sendButton {
	align-self: flex-end;
	padding: 0.1rem 0.5rem;
	width: fit-content;
	height: 100%;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
}
